# Data Types and Structures

## **Theoritical Questions**

Q1. What are data structures, and why are they important?
- Data Structure are the specialized formats for organizing, storing and accessing collection of data.
- It is important as it impacts the effeciency and performance of the program by choosing the right data structure. It also optimize searching and sorting operations and also conserves the memory usage.

Q2.  Explain the difference between mutable and immutable data types with examples?
- Mutable data types are those in which data can be edited or changed where as in Immutable data types, the data cannot be changed or edited at any cost. Data which is stored in the form of 'LISTS' or 'DICTIONARIES' can be mutable and data of 'TUPLES' and 'STRINGS' are immutable.

Q3. What are the main differences between lists and tuples in Python?
-  One of the main difference is that LISTS are mutable where as TUPLES are immutable. In LISTS you can add, modify or remove the data within the list with the help of indexing and slicing but in TUPLES you can only access the data by Indexing, you cannot modify the content.

Q4. Describe how dictionaries store data?
- In Dictionaries, the elements are not stored in the specific order. Each key has a unique value but both keys and values are of various data types such as strings, numbers, lists, etc...

Q5. Why might you use a set instead of a list in Python?
- We use SET instead of a LIST in python because SETS are  immutable and cannot allows duplicates. All the elements of SETS are unique.

Q6. What is a string in Python, and how is it different from a list?
- String can be a sentence. a word, a paragraph or a piece of material whose characters are arranged in unchangable order. STRING is different from LIST as list is mutable and string is immutable.

Q7. How do tuples ensure data integrity in Python?
- TUPLES are immutable collection of elements. Once a tuple is created, it cannot be changed. This is one of the secure method to store data without modifying it.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a collection of associated pairs of items where each pair consists of a key and a value. Hash tables are often called the more general term map because the associated hash function “maps” the key to the value. When a key-value pair is inserted, the hash function calculates an index for the key, and the value is stored at that location. When retrieving a value, the same hash function is applied to the key to quickly locate its corresponding value.

Q9. Can lists contain different data types in Python?
- YES, Lists contains different data types in Python.

Q10.  Explain why strings are immutable in Python?
- STRINGS are immutable in python because each character in the string can be accessed by its index, or position.

Q11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer lists for certain tasks as DICTIONARIES provides a unique key for representing a particular value which becomes very helpful to find a quick value with the help of its Key.

Q12. Describe a scenario where using a tuple would be preferable over a list?
- In an office, the attendence of employees can be marked with the help of tuples over a list because TUPLES are immutable and the data also cannot be modified.

:Q13. How do sets handle duplicate values in Python?
- Sets does not allow duplicate entries in Python. All elements are unique and unordered.

Q14. How does the “in” keyword work differently for lists and dictionaries?
- "IN" keyword work for LISTS to find a value in list or present in list and for DICTIONARY it checks the membership operations,also use in iteration for loop.

Q15. Can you modify the elements of a tuple? Explain why or why not?
- NO, you cannot modify the elements of a TUPLE because it is immutable and used to represent fixed dataset.

Q16. What is a nested dictionary, and give an example of its use case?
- In Nested Dictionary, a dictionary contains another dictionary as its value or we can say that a dictionary within a dictionary. Example:- Storing data of multiple students by creating student name as a key and their information (name, age, gender) as another inner dictionary.

Q17.  Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary (or hash table) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value by its key is, on average, constant and doesn't depend on the size of the dictionary. However, in the worst-case scenario (which is rare), the time complexity can be O(n), where n is the number of elements in the dictionary, due to hash collisions.

Q18. In what situations are lists preferred over dictionaries?
- Lists are faster for index-based access, whereas dictionary lookups require computing a hash. Dictionaries require more memory, as they store keys along with values, unlike lists.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- A dictionary is an unordered collection of objects because dictionaries do not maintain any order of the items based on when they were added. Dictionaries are retrieve values when the key is known.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

## **Practical Questions**

Q1. Write a code to create a string with your name and print it

In [72]:
Name=("VAIBHAV")
print(Name)
type(Name)

VAIBHAV

str

Q2. Write a code to find the length of the string "Hello World"

In [73]:
a=("Hello World")
len(a)

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [74]:
b="Python Programming"
b[0:3]

'Pyt'

Q4. Write a code to convert the string "hello" to uppercase.

In [75]:
hey="hello"
hey.upper()

'HELLO'

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [76]:
sentence="I like apple"
sentence.replace("apple", "orange")

'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [77]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [78]:
num_1=[1,2,3,4]
num_1.append(10)
print(num_1)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [79]:
numlist=[1,2,3,4,5]
numlist.remove(3)
print(numlist)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [80]:
list_9=['a', 'b', 'c', 'd']
list_9[1]

'b'

Q10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [81]:
list_10=[10,20,30,40,50]
list_10.reverse()
print(list_10)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [82]:
num_11=(100, 200, 300)
print(num_11)
type(num_11)

(100, 200, 300)

tuple

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [83]:
tuple_12=('red', 'green', 'blue', 'yellow')
tuple_12[-2]

'blue'

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [84]:
num_13=(10, 20, 5, 15)
min(num_13)

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [85]:
tuple_14= ('dog', 'cat', 'rabbit')
tuple_14.index("cat")

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [86]:
tuple_15=('apple', 'grapes', 'kiwi')
"kiwi" in tuple_15

True

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [87]:
set_16={'a', 'b', 'c'}
print(set_16)
type(set_16)

{'a', 'c', 'b'}

set

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [88]:
set_17={1, 2, 3, 4, 5}
set_17.clear()
print(set_17)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [89]:
set_18={1, 2, 3, 4}
set_18.remove(4)
print(set_18)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [90]:
set_19_1={1, 2, 3}
set_19_2={3, 4, 5}
set_19_1 | set_19_2

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [91]:
set_20_1={1, 2, 3}
set_20_2={2, 3, 4}
set_20_1 & set_20_2

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [92]:
dict_21={'name':'VAIBHAV', 'age':21, 'city':'JAMMU'}
print(dict_21)
type(dict_21)

{'name': 'VAIBHAV', 'age': 21, 'city': 'JAMMU'}

dict

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [93]:
dict_22={'name':'VAIBHAV', 'age':21}
dict_22['country']='USA'
print(dict_22)

{'name': 'VAIBHAV', 'age': 21, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [94]:
dict_23={'name':'ALICE', 'AGE':30}
dict_23["name"]

'ALICE'

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [95]:
dict_24={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict_24['age']
print(dict_24)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [96]:
dict_25={'name': 'Alice', 'city': 'Paris'}
'city' in dict_25

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [97]:
list_26=['Vaibhav', False, 100]
tuple_26=('Vaibhav', True, 3.9)
dict_26={'Name':'VAIBHAV', 'Age':21, 'City':'JAMMU'}
print(list_26)
print(tuple_26)
print(dict_26)

['Vaibhav', False, 100]
('Vaibhav', True, 3.9)
{'Name': 'VAIBHAV', 'Age': 21, 'City': 'JAMMU'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [98]:
list_27=[22, 45, 1, 89, 99]
list_27.sort()
print(list_27)

[1, 22, 45, 89, 99]

Q28. Write a code to create a list with strings and print the element at the third index.

In [99]:
list_28=['Car', 'Bike', 'Bus', 'Truck', 'Cycle']
list_28[2]

'Bus'

Q29. Write a code to combine two dictionaries into one and print the result.

In [100]:
dict_29_1={'a':1, 'b':2}
dict_29_2={'c':3, 'd':4}
dict_29_1.update(dict_29_2)
print(dict_29_1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set.

In [101]:
list_30=['Boy', 'Girl', 'Man', 'Woman', 'Boy', 'Man']
set(list_30)

{'Boy', 'Girl', 'Man', 'Woman'}